.clockTime {
    font-size: var(--fs-xxl);
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.clockButton{
    padding: var(--spacing-l) var(--spacing-xxl);
    margin: var(--spacing-m);
    margin-bottom: var(--spacing-xl);
    border-radius: var(--radius-l);
    border: 2px solid;
    font-size: var(--fs-l);
    font-family: "Rubik", sans-serif;
}

.startButton {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}