.spinner {
	margin: 3.2rem auto 1.6rem;
	width: 60px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid var(--color-primary-hover);
	border-right-color: var(--color-primary);
	animation: rotate 1s infinite linear;
}

.spinnerMini {
	margin: 0;
	width: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
	border-right-color: transparent;
	animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}
